.task {
  background: white;
  border-radius: 4px;
  min-height: 5rem;
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  cursor: move;
}

.bottomWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.status {
  background: var(--color-gray-light);
  font-size: small;
  border-radius: 4px;
  padding: 0 0.25rem;
  height: 1.5rem;
}

.ONGOING {
  background: var(--color-ongoing);
}

.DONE {
  background: var(--color-done);
}

.task img {
  height: 1.25rem;
  cursor: pointer;
}
